a{
    text-decoration: none;
     color:rgb(186, 72, 72);
     font-family: Okra, Helvetica, sans-serif; 
}
#form
{
    width:400px;
    height:450px;
    font-size: 15px;
    margin: 10px;
    background-color: white;
    box-shadow: 0px 0px 3px ;
    padding:10px;
    font-family: Okra, Helvetica, sans-serif;

}
#tot{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
input{
    height:40px;
    width:350px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: Okra, Helvetica, sans-serif;
}
button{
    height:40px;
    width:350px;
    background-color:rgb(216, 213, 213);
    border-color: rgb(216, 213, 213);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 20px;
    font-family: Okra, Helvetica, sans-serif;
}


 #crs{
    font-size: 20px;
    color: black;
}  
body{
    background-color: rgb(47, 36, 36);
}
#cb{
    height: 20px;
    width:20px;
}